*{
    margin: 0;
    padding: 0;
    font-family: san-serif;
}

:root{
    --greyColor: #565656;
    --lightgreyColor: #D2D2D2;
    --pinkColor: #fc8888;
    --pinkBox: #FFBBBB;
    --weightpinkColor: #fe9999;
    --whiteColor: #ffffff;
    --lightredColor: #FB8888;
    --redborderColor: #CC2222;

    /* --- DARK MODE --- */

    --darkredColor: #A00D0D;
    --darkfontColor: #E9E6E6;
    --darkgreyColor: #3a3a3a;
    --darkleftColor: #160011;
    --darkpomodoroColor: #DD2222;
    --darkshadowColor: #ff0000a0;
    --darkwhiteshadowColor: #FFFFFF;
    --darkbackground: #151515;
}

body{
    background-color: var(--greyColor);
}

@keyframes active_pomodoro {
    from{
        scale: 0.5;
    }
    to{
        scale: 1.1;
    }
}


.hide{
    display: none;
}

.template{
    display: flex;
    background: var(--greyColor);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.left-view{
    z-index: 100;
    height: 100vh;
    background: var(--whiteColor);
    flex: 1 0 25vw;
    box-shadow: rgba(218, 149, 149, 0.938) 5px 2px 1px 3px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__background{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 30px;
    /* border: 2px rebeccapurple solid; */
}

.backgroundCircle{
    background: var(--whiteColor);
    box-shadow: 0px 4px 8px 5px rgba(182, 182, 182, 0.596);
    border-radius: 50%;
    width: 20vmax;
    height: 20vmax;
    max-width: 500px;
    max-height: 500px;
    min-width: 210px;
    min-height: 210px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle__content{
    margin:auto;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background: var(--pinkColor);
    box-shadow: 0px 0px 7px 0px var(--greyColor);
    display:flex;
    justify-content: center;
    align-items: center;
}

.circle__timer{
    margin: auto;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: var(--whiteColor);
}

/*  Style of Checks Pomodoros  */

.pomodoros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pomodoros__check{
    margin: 50px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomodoro__count{
    border-radius: 100%;
    box-shadow: 0px 4px 8px 5px rgba(182, 182, 182, 0.596);
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n__pomodoro{
    height: 100%;
    width: 100%;
    border-radius: 100%;;
}

.on{
    background: var(--darkpomodoroColor);
    opacity: 100% !important;
}

/* .off{
} */

.active{
    border-radius: 100%;
    animation: ease-out active_pomodoro 1s infinite alternate;
    background: var(--darkpomodoroColor);
}

/* --- Buttons Area --- */

.buttonsArea{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsArea__box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.background__button{
    width: 60px;
    height: 60px;
    background:var(--pinkColor);
    border-radius: 50%;
    text-align: center;
    margin: 0px 30px;
    border: none;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.233);
}

.background__button:hover{
    background: var(--greyColor);
    cursor: pointer;
    color: var(--weightpinkColor);
}

.buttonsArea__box > button > .icon{
    color: white;
    font-size: 30px;
    margin: auto;
}

/* --- Right Side ---*/

.right-view{
    height: 100vh;
    flex: 2 0 45vw;
    margin: 0;
    padding: 0;
    background: var(--greyColor);
    display: flex;
    flex-direction: column;
}

.right__background{
    width: 80%;
    margin: auto;
    text-align:center;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.box{
    margin:15px auto;
    width: 90%;
    padding: 15px;
    background: var(--pinkBox);
    border: 5px solid var(--redborderColor);
    box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 5px;
}

.box__head{
    margin:20px 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items:center;
}

.box__title{
    flex: 1 1 200px;
    margin: auto;
    padding: auto;
}

.box__title h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
}

.icon{
    margin:auto 20px;
    display:flex;
    justify-content:center;
}

.box__info p{
    text-align: center;
    font-size:18px;
    font-weight:bold;
    margin: 15px 20px 20px;
}

.steps__title{
    color: var(--whiteColor);
    letter-spacing: 2px;
    font-size:30px;
    font-weight: bold;
}

.box__steps{
    margin: 15px 0;
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.step{
    width: 245px;
    height: 80px;
    margin: 10px 5px;
    padding: 5px 0px;
    background: var(--pinkBox);
    border: 4px solid var(--redborderColor);box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-flow: nowrap row;
    justify-content:center;
    align-items:center;
}

.step__number{
    color:var(--whiteColor);
    font-size:30px;
    margin:10px 0px;
    width:40%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.step__number--circle{
    height:65%;
    width:65%;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
    background: rgb(194, 83, 83);
}

.step__text{
    text-align:center;
    font-weight:bold;
    font-size: 18px;
    width:80%;
    margin: auto 15px auto 0;
}

@media (max-width: 880px){
    .template{
        flex-flow: column;
    }

    .left-view{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: rgba(218, 149, 149, 0.938) 0px 3px 1px 3px;
    }

    .left__background{
        margin: 0;
        padding: 30px 0;
    }

    .circle__timer{
        margin: auto;
        text-align: center;
        font-size: 65px;
        font-weight: bold;
    }
    
    .buttonsArea__box > button > .icon{
        width: 25px;
        height: 25px;
        margin: auto;
    }

    .right-view{
        width: 100%;
    }

    .box{
        width: 100%;
        margin: 20px 0;
    }

    .box__title h2{
        font-size: 25px;
        flex: 1 1 auto;
        margin: 0px;
    }

    .icon > img{
        width: 36px;
        height: 36px;
        margin: 0;
        padding: 0;
    }

    .box__info > p{
        font-size: 15px;
        text-align: justify;
    }
}

/* Dark mode */

.darkModeleftview{
    background: var(--darkleftColor);
    box-shadow: black 0 0 10px 2px;
}

.darkActive{
    background: var(--darkpomodoroColor); 
}

.darkbackgroundCircle{
    background: var(--darkgreyColor);
    box-shadow: 0px 0px 1px 1px var(--greyColor);
}

.darkcircle__content{
    background: var(--darkredColor);
    color: var(--darkfontColor);
}

.darkbackground__button{
    background-color: var(--darkredColor);
    box-shadow: 0px 0px 5px 0px var(--greyColor);
}

.darkbackground__button:hover{
    background-color: var(--darkpomodoroColor);
    box-shadow: 0px 0px 1px 1.5px var(--greyColor);
}

.darkright_view{
    background-color: var(--darkbackground);
}

.darkbox{
    background: var(--darkgreyColor);
    border: 3px solid var(--darkredColor);
    color: var(--darkfontColor);
}