*{
    margin: 0;
    padding: 0;
    font-family: san-serif;
    transition: 0.55s ease-out;
}

:root{
    --greyColor: #565656;
    --lightgreyColor: #D2D2D2;
    --pinkColor: #fc8888;
    --pinkBox: #EEB2BC;
    --weightpinkColor: #fe9999;
    --whiteColor: #ffffff;
    --lightredColor: #FB8888;
    --redborderColor: #CC2222;
    --lightbulbColor: #e0cb0b;
    --blueColor: #0026e6;

    /* --- DARK MODE --- */

    --darkredColor: #A00D0D;
    --darkfontColor: #E9E6E6;
    --darkgreyColor: #3a3a3a;
    --darkleftColor: #0A050D;
    --darkpomodoroColor: #EE0000;
    --darkshadowColor: #ff0000a0;
    --darkwhiteshadowColor: #FFFFFF;
    --darkbackground: #151515;
}

body{
    background-color: var(--greyColor);
}

@keyframes active_pomodoro {
    from{
        scale: 0.5;
    }
    to{
        scale: 1.1;
    }
}


.hide{
    display: none;
}

.template{
    display: flex;
    background: var(--greyColor);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.left-view{
    height: 100vh;
    z-index: 100;
    background: var(--whiteColor);
    flex: 1 0 25vw;
    box-shadow: rgba(218, 149, 149, 0.938) 5px 2px 1px 3px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-flow: column;
}

.buttons__content{
    margin: 15px 10px 5px 10px;
}

.buttons__content button{
    position:absolute;
    right: 0;
    border: none;
    margin: 0 15px 0 0;
    background: var(--whiteColor);
    padding: 10px 0px;
    border-radius: 15px;
    outline: 1px black;
    box-shadow: var(--lightbulbColor) 0 0 10px 0px;
    transition: 0.15s;
}

.buttons__content button .icon{
    font-size: 15px;
    padding: 0 15px;
    margin: 5px 5px;
    color: var(--lightbulbColor);
}

.buttons__content button:hover{
    background: var(--darkleftColor);
    box-shadow: var(--darkbackground) 0 0 20px 1px;
    cursor: pointer;
}

.buttons__content button:hover .icon{
    color: var(--whiteColor);
}

.darkbuttons__content button{
    background: var(--darkleftColor);
    box-shadow: var(--darkleftColor) 0 0 20px 1px;
    transition: 0.15s;
}

.darkbuttons__content button .icon{
    color: var(--darkfontColor);
}

.darkbuttons__content button:hover{
    background: var(--whiteColor);
    box-shadow: var(--lightbulbColor) 0 0 20px 1px;
}

.darkbuttons__content button:hover .icon{
    color: var(--lightbulbColor);
}

.left__background{
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.backgroundCircle{
    background: var(--whiteColor);
    box-shadow: 0px 4px 8px 5px rgba(182, 182, 182, 0.596);
    border-radius: 50%;
    width: 20vmax;
    height: 20vmax;
    max-width: 500px;
    max-height: 500px;
    min-width: 190px;
    min-height: 190px;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle__content{
    margin:auto;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background: var(--pinkColor);
    box-shadow: 0px 0px 7px 0px var(--greyColor);
    display:flex;
    justify-content: center;
    align-items: center;
}

.circle__timer{
    margin: auto;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: var(--whiteColor);
}

/*  Style of Checks Pomodoros  */

.pomodoros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pomodoros__check{
    margin: 30px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomodoro__count{
    border-radius: 100%;
    box-shadow: 0px 4px 8px 5px rgba(182, 182, 182, 0.596);
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n__pomodoro{
    height: 100%;
    width: 100%;
    border-radius: 100%;;
}

.on{
    background: var(--darkpomodoroColor);
    opacity: 100% !important;
}

/* .off{
} */

.active{
    border-radius: 100%;
    animation: ease-out active_pomodoro 1s infinite alternate;
    background: var(--darkpomodoroColor);
}

/* --- Buttons Area --- */

.buttonsArea{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsArea__box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.background__button{
    width: 60px;
    height: 60px;
    background:var(--pinkColor);
    border-radius: 50%;
    text-align: center;
    margin: 0px 30px;
    border: none;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.233);
}

.background__button:hover{
    background: var(--whiteColor);
    box-shadow: 0px 5px 15px 0px var(--darkgreyColor);
    cursor: pointer;
}

.buttonsArea__box > button > .icon{
    color: var(--whiteColor);
    font-size: 30px;
    margin: auto;
}

.buttonsArea__box > button:hover > .icon{
    color: var(--weightpinkColor);
}


/* --- Right Side ---*/

.right-view{
    height: 100vh;
    flex: 2 0 45vw;
    margin: 0;
    padding: 0;
    background: var(--greyColor);
    display: flex;
    flex-direction: column;
}

.right__background{
    width: 80%;
    margin: auto;
    text-align:center;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.box{
    margin:15px auto;
    width: 90%;
    padding: 15px;
    background: var(--pinkBox);
    border: 4px solid var(--redborderColor);
    border-radius: 10px;
}

.box__head{
    margin:20px 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items:center;
}

.box__title{
    flex: 1 1 200px;
    margin: auto;
    padding: auto;
}

.box__title h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
}

.icon{
    margin:auto 20px;
    display:flex;
    justify-content:center;
}

.box__info p{
    text-align: center;
    font-size:19px;
    font-weight:bold;
    letter-spacing: 0.5px;
    margin: 15px 20px 20px;
}

.steps__title{
    color: var(--whiteColor);
    letter-spacing: 2px;
    font-size:30px;
    font-weight: bold;
}

.box__steps{
    margin: 15px 0;
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.step{
    width: 240px;
    height: 80px;
    margin: 12px;
    padding: 5px 0px;
    background: var(--pinkBox);
    border: 4px solid var(--redborderColor);box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-flow: nowrap row;
    justify-content:center;
    align-items:center;
}

.step__number, .item__title{
    color:var(--whiteColor);
    font-size:30px;
    margin:10px 0px;
    width:40%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.step__number--circle{
    height:65%;
    width:65%;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
    background: rgb(194, 83, 83);
}

.step__text, .item__description{
    text-align:center;
    font-weight:bold;
    font-size: 16px;
    width:80%;
    margin: auto 15px auto 0;
}

/* --- To Do List View --- */

.right__todo__background{
    width: 90%;
    height: 80%;
    margin: auto;
    text-align:center;
    display: flex;
    flex-flow: nowrap column;

}

.box__todo{
    min-width: inherit;
    height: 40px;
    padding: 15px 0;
    background: var(--pinkBox);
    border: 4px solid var(--redborderColor);
    border-radius: 3px;
    margin: 0px 0;
}

.box__todo__head{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box__todo__title{
    width: 100%;
    padding: 0;
}

.box__todo__title h2{
    margin: auto 20px;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    text-align: left;
}

.icon__todo{
    margin:0 20px;
    display:flex;
    font-size:25px;
    transition: 0s ease-out;
    border: var(--darkbackground) 1px solid;
    padding: 10px 5px;
    border-radius: 2px;
    transition: 0.25s;
}

.icon__todo:hover{
    cursor: pointer;
    color: var(--redborderColor);
    background-color: var(--darkfontColor);
    box-shadow: var(--darkbackground) 0 0 5px 1px;
    transform: scale(1.1);
}

.icon__todo .fas{
    margin: 0 5px;
    padding: auto;
}

.icon__todo p {
    margin: 0 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
}

.items__scroll{
    /* overflow: hidden; */
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.items__scroll::-webkit-scrollbar{
    display: none;
}

.box__items{
    margin: 5px 0 0;
    width:100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.item{
    width: 95%;
    height: 80px;
    margin: 10px 0;
    background: var(--pinkBox);
    border: 4px solid var(--redborderColor);box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-flow: nowrap row;
    justify-content:center;
    align-items:center;
}

.item__title{
    flex: 2 1 20%;
    margin: auto 10px;
}

.item__title label{
    width: 100%;
    font-size: 2.1rem;
    text-align:left;
    font-weight:bold;
}

.item__description{
    flex: 3 2 60%;
    text-align:center;
    font-weight:bold;
    font-size: 1.1rem;
    /* width:100%; */
    margin: auto;
    text-align: left;
}

.item__delete, .item__edit{
    transition: none;
    flex: 2 1 10%;
    text-align:center;
    font-weight:bold;
    margin: 0 7px;
    padding: 10px 5px;
    border-radius: 4px;
    background-color: var(--darkfontColor);
}

.item__delete .item__button, .item__edit .item__button {
    font-size: 1.1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

.item__delete .item__button p, .item__edit .item__button p {
    margin: 0 5px;
}

.item__delete {
    transition: 0.10s ease;
    color: var(--redborderColor);
    /* filter: drop-shadow( 1px 5px 5px var(--darkpomodoroColor)); */
}

.item__edit{
    transition: 0.10s ease;
    color: var(--blueColor);
    /* filter: drop-shadow( 0px 2px 10px var(--darkwhiteshadowColor)); */
}

.item__delete:hover {
    transform: scale(1.1);
    box-shadow: var(--darkbackground) 0 0 5px 1px;
    cursor: pointer;
}

.item__edit:hover{
    transform: scale(1.1);
    box-shadow: var(--darkbackground) 0 0 5px 1px;
    cursor: pointer;
}



@media (max-width: 1100px) {

    .box{
        width: 100%;
        margin: 20px 0;
        padding: 5px;
    }

    .box__title h2{
        font-size: 25px;
        flex: 1 1 auto;
        margin: 0px;
    }

    .box__info p{
        font-size: 15px;
    }

    .steps__title{
        font-size: 20px;
    }

    .step{
        width: 200px;
        height: 75px;
    }

    .step__text{
        font-size: 15px;
    }

    .item{
        width: 95%;
        padding: 0;
    }

    .item__title{
        flex: 2 1 10%;
    }

    .item__title label{
        font-size: 17px;
    }

    .item__description{
        font-size: 15px;
        flex: 3 2 80%;
    }

    .item__edit, .item__delete, .darkitem__delete, .darkitem__edit{
        flex-flow: column wrap;
        margin: 0 5px;
        font-size: 5px;
    }
    
    .item__edit .item__button, .item__delete .item__button{
        flex-flow: column wrap;
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .item__delete .item__button p, .item__edit .item__button p{
        font-size: 10px;
        margin: 5px 0;
    }

}

@media (max-width: 910px){
    .template{
        flex-flow: column;
    }

    .right__todo__background{
        margin-top: 10px;
    }

    .left-view{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: rgba(218, 149, 149, 0.938) 0px 3px 1px 3px;
    }

    .left__background{
        margin: 0 0;
        padding: 30px 0;
    }

    .circle__timer{
        margin: auto;
        text-align: center;
        font-size: 65px;
        font-weight: bold;
    }

    .pomodoros__check{
        margin: 30px 10px;
    }

    .pomodoro__count{
        height: 17px;
        width: 17px;
    }

    .background__button{
        width: 50px;
        height: 50px;
    }

    .buttonsArea__box > button > .icon{
        width: 20px;
        height: 20px;
        margin: auto;
    }

    .right-view{
        margin: 10px 0;
        width: 100%;
    }

    .box{
        width: 100%;
        margin: 20px 0;
    }

    .box__title h2{
        font-size: 25px;
        flex: 1 1 auto;
        margin: 0px;
    }

    .icon > img{
        width: 36px;
        height: 36px;
        margin: 0;
        padding: 0;
    }

    .box__info > p{
        font-size: 15px;
        text-align: justify;
    }

    .step{
        width: 240px;
        height: 80px;
        margin: 10px;
    }

    .step__text{
        font-size: 15px;
    }

    .box__todo{
        height: 25px;
    }

    .box__todo__title h2{
        font-size: 20px;
    }

    .icon__todo{
        padding: 5px;
    }

    .icon__todo{
        font-size: 12px;
    }

    .icon__todo p{
        font-size: 12px;
    }

    .darkicon__todo{
        padding: 5px;
    }

    .darkicon__todo p{
        font-size: 12px;
    }

    

}

/* Dark mode */

.darkModeleftview{
    background: var(--darkleftColor);
    box-shadow: var(--darkredColor) 0 0 10px 2px;
}

.darkActive{
    background: var(--darkpomodoroColor); 
}

.darkbackgroundCircle{
    background: var(--greyColor);
    box-shadow: 0px 0px 8px 1.5px var(--darkredColor);
}

.darkcircle__content{
    background: var(--darkredColor);
    color: var(--darkfontColor);
}

.darkbackground__button{
    background-color: var(--darkredColor);
    box-shadow: 0px 0px 5px 2px var(--greyColor);
}

.darkbackground__button:hover{
    background-color: var(--darkgreyColor);
    box-shadow: 0px 0px 8px 1.5px var(--darkredColor);
}

.buttonsArea__box > .darkbackground__button:hover .icon{
    color: var(--darkpomodoroColor);
}

.darkright_view{
    background-color: var(--darkbackground);
}

.darkbox{
    background: var(--darkgreyColor);
    border: 4px solid #16001100;
    /* border: 3px solid var(--darkredColor); */
    box-shadow: var(--darkredColor) 0px 0px 10px 4px;
    color: var(--darkfontColor);
}

body.dark{
    background-color: var(--darkbackground);
}

.right__todo__background{
    border-bottom: var(--darkredColor) 3px solid;
    padding: 0 10px;
}

.darkbox__todo{
    z-index: 100;
    background: var(--darkgreyColor);
    border: 4px solid #16001100;
    box-shadow: var(--darkredColor) 0px 0px 5px 3px;
    color: var(--darkfontColor);
}

.darkicon__todo{
    outline: var(--darkfontColor) 1px solid;
    box-shadow: var(--darkshadowColor) 0px 0px 5px 1px;
}

.darkicon__todo:hover{
    background: var(--darkredColor);
    color: var(--darkfontColor);
    outline: var(--darkfontColor) 1px solid;
    box-shadow: var(--darkshadowColor) 0px 0px 5px 1px;
}

.darkitem{
    background: var(--darkgreyColor);
    border: 4px solid #16001100;
    /* border: 3px solid var(--darkredColor); */
    filter: drop-shadow(var(--darkshadowColor) 0px 4px 2px);
    color: var(--darkfontColor);
}

.darkitem__edit{
    background-color: var(--blueColor);
    color: var(--darkfontColor);
    filter: drop-shadow(var(--blueColor) 0px 0px 7px);
}

.darkitem__delete{
    background-color: var(--redborderColor);
    color: var(--darkfontColor);
    filter: drop-shadow(var(--redborderColor) 0px 0px 7px);
}